* {
    /* font-family: georgia; */
}

.App {
    text-align: center;
    padding: 0px;
}

.App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
    height: 80px;
}

.App-header {
    background-color: #5E7FD9;
    /* background-image: url("/public/pscorebanner1.jpg"); */
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 2.5em;
}

.App-section-bg-img {

}

.App-intro {
    /* background-image: url('/public/korea-vector.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    font-size: 12px;
    /* height: 85vh; */
    padding: 20px;
    text-align: left;
    display: flex;
}

ol {
    text-align: left;
}

.App-intro-text {
    width: 60%;
}

.App-intro-img {
    width:40%;
}

.korea-vector-img {
    float: right;
    max-height: 100vh;
    align-content: center;
    align-items: center;
    z-index: -99;
    clear: left;
}


h1 {
    font-size: 25px;
}

h3 {
    font-size: 15;
    font-weight: lighter;
}

a {
    color: #5E7FD9;
    text-decoration: none;
}

a:hover {
    color: #b7b7b7;
    text-decoration: underline;
}

b {
    color: #5E7FD9;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
